<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947443804842-kfmkkkdjls3f2ghd8svt806etke5os2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947443804842-kfmkkkdjls3f2ghd8svt806etke5os2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>947443804842-dlqgjnbg2nr87ahnul5h8orv96f2joud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8okdWG8qjW8rjFJd1WGTiz1evrCIW3zI</string>
	<key>GCM_SENDER_ID</key>
	<string>947443804842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cwtEcommerceAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-a236a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-a236a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947443804842:ios:e391120faaa39ee3f3bed3</string>
</dict>
</plist>